img.round {
    border-radius: 50%;
}

.rounded {
    border-radius: 5px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.font-small {
    font-size: 0.5em;
}

.font-medium {
    font-size: 0.9em;
}

.font-large {
    font-size: 1.3em;
}

.font-xlarge {
    font-size: 1.7em;
}

.font-xxlarge {
    font-size: 2.1em;
}