
* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, serif;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 50px;
    margin-top: 0px;
    text-align: center;
    background: #FAFAFA;
}

.search-form-wrapper {
    display: flex;
    padding: 0 50px 0;
    justify-content: center;
    align-items: center;
}

.search-form-wrapper input[type="text"] {
    flex: 1 1 auto;
    max-width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-form-wrapper button {
    font-size: 1.1em;
    border: none;
    color: white;
    padding: 5px 32px;
    text-decoration: none;
    margin: 4px 8px;
    cursor: pointer;
    background-color: #54B689;
    -webkit-transition: color 0.5s; /* For Safari 3.0 to 6.0 */
    transition: background-color 0.5s;
    height: 39px;
}

.search-form-wrapper button:hover {
    background-color: #44A076;
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    width: 280px;
    background-color: #54B689;
    padding: 20px;
    color: white;
    height: 100vh;
}

.side * {
    color: inherit;
}

/* Main column */
.main {
    min-height: 100vh;
    flex: 70%;
    background-color: white;
}

.wrapper {
    margin: 0 50px
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    flex-grow: 100;
}

.media {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.media img {
    width: 100px;
    height: 100px;
}

.media-body {
    margin-left: 15px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.media-body h2 {
    margin: 0;
}

.media-body h2 a {
    color: inherit;
    text-decoration: inherit;
}

.media-body p {
    margin: 0;
}

.snip-text {
    text-align: justify;
}

.more-link {
    color: #54B689;
    text-decoration: none;
    -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s;
    font-size: 0.8em;
}

.more-link::after {
    content: "→";
}

.more-link:hover {
    color: #44A076;
    text-decoration: underline;
}

.tag-list {
    margin-bottom: 5px !important;
    padding-left: 5px;
    font-size: 0.9em;
    font-style: italic;
}

h1 a {
    color: inherit;
    text-decoration: inherit;
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

@media screen and (max-width: 995px) {
    .row, .navbar {
        flex-direction: column;
    }

    .side {
        width: 100vw;
        height: auto;
    }

    .main {
        height: 100vh;
    }

    .search-form-wrapper {
        padding: 0 0 0;
    }
}

@media screen and (max-width: 770px) {
    .search-form-wrapper {
        flex-direction: column;
    }

    .search-form-wrapper input[type="text"] {
        width: 100%;
        max-width: 100%;
    }

    .search-form-wrapper button {
        width: 100%;
    }
}